{
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "."
        ],
        "alias": {
          "@assets": "./assets",
          "@components": "./app/components",
          "@screens": "./app/screens",
          "@utils": "./app/utils",
          "@constants": "./app/constants",
          "@config": "./app/config",
          "@store": "./app/store",
          "@navigators": "./app/navigators"
        }
      }
    ],
    [
      "import",
      {"libraryName": "@ant-design/react-native"}
    ]
  ]
}