{
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "."
        ],
        "alias": {
          "@assets": "./assets",
          "@components": "./app/components",
          "@config": "./app/config",
          "@constants": "./app/constants",
          "@hooks": "./app/hooks",
          "@i18n": "./app/i18n",
          "@navigators": "./app/navigators",
          "@provider": "./app/provider",
          "@screens": "./app/screens",
          "@services": "./app/services",
          "@store": "./app/store",
          "@utils": "./app/utils"
        }
      }
    ],
    [
      "import",
      {
        "libraryName": "@ant-design/react-native"
      }
    ]
  ]
}